@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Nunito:ital,wght@0,400;0,700;1,600&family=Work+Sans:wght@300;400;700;900&display=swap");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.85%;
  font-family: "Cormorant Garamond", serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  text-align: center;
  margin: 5rem auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wrapper {
  width: 100%;
  /* margin: 0 auto; */
}
.container {
  /* background-color: red; */
  max-width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 3.2rem;
}
.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  /* background-color: #535bf2; */
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-info {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #213547;
  text-align: center;
}
@media screen and (max-width: 1119px) {
  .container {
    max-width: 90%;
  }
  .grid {
    gap: 1.6rem;
  }

  .card {
    background-color: #213547;
  }
  .card-info {
    padding: 0rem;
    background-color: #213547;
  }
}

.card-id {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.6rem;
}

p {
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
h2 {
  padding: 1rem;
  background-color: #0e0f0f;
  text-align: left;
  font-family: "Cormorant Garamond", serif;
  text-transform: capitalize;
}

figure {
  height: 15rem;
  display: grid;
  place-items: center;
}
img {
  max-width: 100%;
  height: inherit;
}

.loading-container {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(63, 219, 144);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
